<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu_LhzJY4sUg-GnGF80pHtigcN21MnPAo</string>
	<key>GCM_SENDER_ID</key>
	<string>718521649088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.orbitotimeorb</string>
	<key>PROJECT_ID</key>
	<string>orbio-time</string>
	<key>STORAGE_BUCKET</key>
	<string>orbio-time.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718521649088:ios:79708991846be8ed972a25</string>
</dict>
</plist>